# Sphinx documentation
docs/_build
docs/auto_examples/
docs/auto_paper/
docs/modules/generated/
docs/datasets/generated/
docs/generated/

# Distribution / packaging
*.egg-info/

# Pycharm
.idea
transfreq_env/

# Byte-compiled / optimized / DLL files
__pycache__/
transfreq/__pycache__/
transfreq/__pycache__/TopoObj_mod.cpython-37.pyc
transfreq/__pycache__/functions.cpython-37.pyc

# Downloaded data
transfreq_data/
transfreq_data_preproc/
